/* Styles limited to content region of the full node template */
.utevent-event--full .utevent-event__content {
  flex-direction: column;
  margin-left: 0;
}
.utevent-event--full .utevent-event__content > * {
  margin: 0 0 2rem 0;
}
.utevent-event--full .utevent-event__content-secondary {
    width: 100%;
}

@media screen and (min-width: 600px) {
  .utevent-event--full .utevent-event__content {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Styles limited to the content-secondary region of the full node template */
.utevent-event--full .utevent-event__content-secondary {
  align-self: flex-start;
  border: 1px solid #ddd;
  font-size: 1rem;
  padding: 0 1.5rem .75rem 1.5rem;
}
@media screen and (min-width: 600px) {
  .utevent-event--full .utevent-event__content-primary {
    flex: 0 0 64%;
  }
  .utevent-event--full .utevent-event__content-secondary {
    flex: 0 0 33%;
  }
}
@media screen and (min-width: 1600px) {
  .utevent-event--full .utevent-event__content-primary {
    flex: 0 0 64%;
  }
  .utevent-event--full .utevent-event__content-secondary {
    flex: 0 0 33%;
  }
}

.utevent-event--full .utevent-event__content-label {
  font-style: italic;
  border-bottom: 1px solid #ddd;
  padding: .75rem 0;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  text-align: center;
}

/* Styles limited to fields */
.utevent-event--full .utevent-event-field {
  margin-bottom: 1rem;
}
.utevent-event--full .utevent-event-field:last-child {
  margin-bottom: 0;
}

.utevent-event--full .utevent-event-field__label {
  font-weight: 600;
}
.utevent-event--full .utevent-event-field__label::after {
  content: ":";
}

/* Styles limited to individual fields */
.utevent-event--full .utevent-event-field--field-utevent-main-media {
  float: left;
  margin: 0 2vw 10px 0;
  max-width: 140px;
}

.utevent-event--full .utevent-event-field--field-utevent-datetime ul {
  font-size: 1rem;
  list-style-type: none;
  padding-left: 0;
}
.utevent-event--full .utevent-event-field--field-utevent-datetime ul li {
  padding-bottom: 0.5rem;
}

.utevent-event--full .utevent-event-field--field-utevent-status {
  margin-bottom: 2rem;
}
