.utevent__calendar form,
.utevent-listing-page form {
  text-align: center;
}

.utevent__calendar .form-item,
.utevent__calendar input[type=submit],
.utevent__calendar .form-actions,
.utevent-listing-page .form-item,
.utevent-listing-page input[type=submit],
.utevent-listing-page .form-actions {
  display: inline-block;
  width: auto;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.utevent__calendar input[type=submit],
.utevent-listing-page input[type=submit] {
  border: 1px solid #bf5700;
  background-color: #bf5700;
  color: #fff;
  border-radius: 4px;
}

.utevent__calendar input[data-drupal-selector="edit-reset"],
.utevent-listing-page input[data-drupal-selector="edit-reset"] {
  background-color: #fff;
  color: #000;
}

.utevent__calendar select,
.utevent__calendar select:focus,
.utevent-listing-page select,
.utevent-listing-page select:focus {
  border: 1px solid #bf5700;
  border-radius: 4px;
}
.fc-unthemed {
  padding-top: 48px;
}

.fc-unthemed .fc-button-primary {
  background-color: #bf5700;
}

.fc-unthemed .fc-button-primary:not(:disabled).fc-button-active,
.fc-unthemed .fc-button-primary:not(:disabled):active,
.fc-unthemed .fc-button-primary:hover,
.fc-unthemed .fc-button-primary:focus {
  background-color: #9d4700;
}

.fc-unthemed .fc-event {
  color: #9d4700;
  border: 1px solid #d3d3d3;
  border-radius: 0px;
}
.fc-unthemed .fc-event[style]:hover,
.fc-unthemed .fc-event[style]:focus {
  color: #9d4700;
  background-color: #dbdbdb !important; /* Important is needed to override inline style */
}

.fc-unthemed .fc-event-container {
  border: 1px solid #f5f5f5;
  border-radius: 0;
}

.fc-day-grid-event .fc-content {
  white-space: normal;
}

.fc-unthemed .fc-button-primary:disabled {
  background-color: #fff;
  color: #000;
}

.utevent__calendar .form-item label {
  display: block;
  max-width: 46rem;
  margin-top: 2.25rem;
  margin-bottom: 0.5rem;
}
