/* Styles for Event Listing page views fields */
.utevent-listing-page .views-field-title {
  font-size: 1.5rem;
}
.utevent-listing-page .views-field-field-utevent-main-media {
  float: right;
  max-width: 100px;
  margin: 0 0 1rem 1rem;
}
.utevent-listing-page .views-field {
  margin-bottom: .5rem;
}
.utevent-listing-page .views-field-field-utevent-datetime-1 {
  margin-top: -.5rem;
  margin-bottom: .5rem;
}
.utevent-listing-page .views-field-field-utevent-datetime-1 .field-content:empty {
  margin-top: 0;
  margin-bottom: 0;
}
.utevent-listing-page .views-field-field-utevent-body p {
  margin-bottom: 0;
}
