/* Styles for Event Listing views field states */
/** Based on core hidden.module.css */
.utevent-listing-page .views-field-field-utevent-status .field__label {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

/* Button toggling (#140) */
.utevent-listing-page .ut-btn:link,
.utevent-listing-page .ut-btn:visited {
  background-color: #f2f1ed;
  border-color: #9d4700;
  color: #9d4700;
  font-weight: bold;
  margin: 0 -3px;
  border-radius: 0;
}
.utevent-listing-page .ut-btn--secondary:link,
.utevent-listing-page .ut-btn--secondary:visited {
  border: solid 2px #8f8f8f;
  color: #56544e;
  margin: 0 -3px;
  border-radius: 0;
}
