/* Styles for Event Listing page views fields */
.utevent-listing-block .views-field-title {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}
.utevent-listing-block .views-field-field-utevent-main-media {
  float: right;
  max-width: 100px;
  margin: 0 0 1rem 1rem;
}
.utevent-listing-block .views-field-field-utevent-datetime {
  margin-bottom: .5rem;
}
.utevent-listing-block .views-field-field-utevent-datetime-1 {
  margin: -0.5rem 0 0.5rem 30px;
}
.utevent-listing-block .views-field-field-utevent-datetime-1 .field-content:empty {
  margin-top: 0;
  margin-bottom: 0;
}
.utevent-listing-block .views-field-field-utevent-location .field-content {
  display: inline-block;
  margin-bottom: .5rem;
}
.utevent-listing-block .views-field-field-utevent-body p {
  margin-bottom: 0;
}
.utevent-listing-block .utevent__thumbnail img {
  margin: 1rem 0 5px 10px;
}
.utevent-listing-block .views-field-field-utevent-datetime,
.utevent-listing-block .views-field-field-utevent-datetime-1,
.utevent-listing-block .views-field-field-utevent-location {
  font-style: italic;
  line-height: 1.375;
  margin-top: .875rem;
  font-size: .875rem;
}
.utevent-listing-block .utevent-event-field--field-utevent-status .utevent-event-field__item {
  margin-bottom: 15px;
}
